*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.logo p{
    color: white;

}
.search input{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: end;
    font-size: 14px;
}
.plus-color{
    color: yellow;
    font-weight: 900;
}
.logo p{
    color: white;
    position: relative;
    top: -5px;
}
.search{
    background-color: white;
    padding: 8px;
    width: 420px;
    height: 20px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: blue;
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.1), 7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.search input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 15px;

}
.loginbtn{
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 550;
    
}