*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.logo p{
    color: white;

}
.search input{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: end;
    font-size: 14px;
}